<!-- https://gist.github.com/pathawks/1406355 -->
{% capture header %}

{% if page.title %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}

{% include meta.html property="og:site_name" content=site.harmony.name %}
{% include meta.html property="og:image" content=page.thumbnail %}

{% capture page_url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
<meta property="og:url" content="{{ page_url }}">

{% if page.author.url %}
<meta property="article:author" content="{{ page.author.url }}" />
<link rel="author" href="{{ page.author.url }}" />
{% elsif site.owner_link %}
<meta property="article:author" content="{{ site.owner_link }}" />
<link rel="author" href="{{ site.owner_link }}" />
{% endif %}

{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}

{% if page.content and page.title %}
<meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncate: 195, '...' }}"/>
{% else %}
<meta property="og:description" content="{{ site.harmony.description }}"/>
{% endif %}

<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/logo-160x160.png"/>

{% endcapture %}

{% if site.production %}
{{ header | strip_newlines }}
{% else %}
{{ header }}
{% endif %}
