{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ if isset . "title" }}
                        <h2>{{ .title  | markdownify }}</h2>
                        {{ end }}

                        {{ if isset . "subtitle" }}
                        <p class="item-intro text-muted">{{ .subtitle | markdownify }}</p>
                        {{ end }}

                        {{ if isset . "img" }}
                        <img class="img-responsive img-centered" src="img/portfolio/{{ .img }}" alt="">
                        {{ end }}

                        {{ if isset . "youtubeLink" }}
                        <iframe width="{{ .youtubeWidth }}" height="{{ .youtubeHeight }}" src="https://www.youtube.com/embed/{{ .youtubeLink }}" frameborder="0" allowfullscreen></iframe>
                        {{ end }}

                        <p>{{ .description | markdownify }}</p>
                        <ul class="list-inline">
                            {{ if isset . "date" }}
                            <li>{{ with $.Site.Params.portfolio.modal.date }}{{ . }}{{ end }}: {{ .date }}</li>
                            {{ end }}

                            {{ if isset . "client" }}
                            <li>{{ with $.Site.Params.portfolio.modal.client }}{{ . | markdownify }}{{ end }}: <a href="{{ .clientLink }}">{{ .client }}</a></li>
                            {{ end }}

                            {{ if isset . "ios" }}
                            <li>{{ with $.Site.Params.portfolio.modal.ios }}{{ . | markdownify }}{{ end }}: <a href="{{ .iosLink }}">{{ .ios }}</a></li>
                            {{ end }}

                            {{ if isset . "gearvr" }}
                            <li>{{ with $.Site.Params.portfolio.modal.gearvr }}{{ . | markdownify }}{{ end }}: {{ .gearvr }}</li>
                            {{ end }}

                            {{ if isset . "android" }}
                            <li>{{ with $.Site.Params.portfolio.modal.android }}{{ . | markdownify }}{{ end }}: <a href="{{ .androidLink }}">{{ .android }}</a></li>
                            {{ end }}

                            <li>{{ with $.Site.Params.portfolio.modal.category }}{{ . | markdownify }}{{ end }}: {{ .category  | markdownify }}</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{ . | markdownify }}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
