{{ "<!-- Services -->" | safeHTML }}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <figure class="figure-gamejam">
              <img src="img/portfolio/gamejam.jpg">
              <figcaption class="text-muted">
                <a href="http://globalgamejam.org/2016/jam-sites/ggj-2016-seoul-5minlab">
                  Global Game Jam 2016 @5minlab
                </a>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">
              {{ with .Site.Params.services.titleExtra }}{{ . }}{{ end }}
            </h2>
            <h3 class="section-subheading text-muted">
              {{ with .Site.Params.services.subtitleExtra }}{{ . | markdownify }}{{ end }}
            </h3>
          </div>
        </div>

        {{ range .Site.Params.services.row }}
        <div class="row text-center">
            {{ range .list }}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ .title | markdownify }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        {{ end }}

    </div>
</section>
