<!DOCTYPE html>

{{ $slug := replace (lower .Title) " " "-" }}

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
  {{ partial "twitter_card.html" . }}
  {{ partial "fb_opengraph.html" . }}
</head>
<body id="page-top" class="index">
  {{ partial "nav.html" . }}

  <section id="project-single" class="bg-light-gray">
    <div class="container">
      <h1>{{ .Title }}</h1>


      <!--
      キャッチコピー
      Catchphrase
      -->
      <h2>{{ .Params.catchphrase }}</h2>

      <h3>
        {{ if (eq .Site.LanguageCode "ja-JP") }}
        開発完了予定
        {{ else }}
        Expected Launching Date
        {{ end }}
      </h3>
      <p>
        {{ .Params.expectedreleasedate }}
      </p>

      <!-- <h3>Screenshots</h3> -->

      <div id="screenshot-carousel" class="carousel slide" data-ride="carousel">
        <!-- - Indicators -->
        <ol class="carousel-indicators">
          {{ range $index, $elem := .Params.screenshots }}
          <li data-target="#screenshot-carousel" data-slide-to="{{ $index }}"
            {{ if (eq $index 0) }} class="active" {{ end }}></li>
          {{ end }}
        </ol>

        <!-- - Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {{ range $index, $elem := .Params.screenshots }}
          <div class="item {{ if (eq $index 0) }} active {{ end }}">
            <img src="{{ $elem }}" alt="screenshot">
            <div class="carousel-caption">
              <!-- TODO caption -->
            </div>
          </div>
          {{ end }}
        </div>

        <!-- - Controls -->
        <a class="left carousel-control" href="#screenshot-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#screenshot-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <h3>Youtube</h3>
      <iframe src="https://www.youtube.com/embed/{{ .Params.youtubelink }}" class="project-video"
        width="720" height="450"
        frameborder="0" allowfullscreen>
      </iframe>

      <h3>
        {{ if (eq .Site.LanguageCode "ja-JP") }}
        概要
        {{ else }}
        Description
        {{ end }}
      </h3>
      {{ .Content }}

      <h3>
        {{ if (eq .Site.LanguageCode "ja-JP") }}
        特徴
        {{ else }}
        Key features
        {{ end }}
      </h3>
      <ul>
        {{ range .Params.features }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>

      <h3>
        {{ if (eq .Site.LanguageCode "ja-JP") }}
        リリース情報
        {{ else }}
        Specification
        {{ end }}
      </h3>
      <ul>
        <li>
          {{ if (eq .Site.LanguageCode "ja-JP") }}
          プラットフォーム
          {{ else }}
          Platform
          {{ end }}
        </li>
        <ul>
          {{ range .Params.platforms }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        <li>
          {{ if (eq .Site.LanguageCode "ja-JP") }}
          ジャンル
          {{ else }}
          Genre
          {{ end }}
          : {{ .Params.genre }}
        </li>
      </ul>

      <h3>
        {{ if (eq .Site.LanguageCode "ja-JP") }}
        言語
        {{ else }}
        Language
        {{ end }}
      </h3>
      <ul>
        <li>
          <a href="{{ .Site.Params.rooturl }}project/{{ $slug }}" class="anchor-language">
            English
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.rooturl }}ja/project/{{ $slug }}" class="anchor-language">
            Japanese
          </a>
        </li>
      </ul>

      <h3>Links</h3>
      <ul>
        <li><a href="/project/police-of-santana/" class="anchor-language">Police of Santana - English</a></li>
        <li><a href="/project/toy-clash/" class="anchor-language">Toy Clash - English</a></li>

        <li><a href="/ja/project/police-of-santana/" class="anchor-language">Police of Santana - Japanese</a></li>
        <li><a href="/ja/project/toy-clash/" class="anchor-language">Toy Clash - Japanese</a></li>
      </ul>
    </div>
  </section>

  {{ if .Site.Params.footer.enable }}
  {{ partial "footer.html" . }}
  {{ end }}


  {{ partial "js_news.html" . }}
</body>
</html>
