<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
<body id="page-top" class="index">
  {{ partial "nav_alternative.html" . }}

  <section id="news-list" class="bg-light-gray">
    <div class="container">
      <ul>
        {{ range .Data.Pages }}
        {{ .Render "li"}}
        {{ end }}
      </ul>
    </div>
  </section>

  {{ if .Site.Params.footer.enable }}
  {{ partial "footer.html" . }}
  {{ end }}

  {{ "<!-- jQuery -->" | safeHTML }}
  <script src="{{ .Site.BaseURL }}js/jquery.js"></script>
  {{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
  <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

</body>
</html>
