<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
  {{ partial "twitter_card.html" . }}
  {{ partial "fb_opengraph.html" . }}
</head>
<body id="page-top" class="index">
  {{ partial "nav.html" . }}

  <section id="news-single" class="bg-light-gray">
    <div class="container">
      <div class="news-title">
        <span class="news-date">{{ .Date.Format "2006/01/02" }}</span>
        {{ .Title }}
      </div>

      <div class="news-content">
        {{ .Content }}
      </div>

      <div class="btn-container">
        <a href=".." class="btn-back-to-list">&lt; Back To List</a>
      </div>
    </div>
  </section>

  {{ if .Site.Params.footer.enable }}
  {{ partial "footer.html" . }}
  {{ end }}


  {{ partial "js_news.html" . }}
</body>
</html>
